@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #081b29;
    color: #ededed;

}
body a{
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #081b29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    font-size:25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left:35px ;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content {
    max-width: 600px;

}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;

}
.home-content .name{
    color: #00abf0;
    font-size: 19px;
}
 .home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

 }
 .btn-box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size:19px;
    color: #081b29;
    text-decoration: none;
    font-weight:600;
    letter-spacing: 1px;

 }
 .btn-box a:nth-child(1){
    background: transparent;
    color: #00abf0;
 }

.about{
    height: 100vh;
    padding: 0 10%;
    background-color: #00abf0;
    
}   
.aboutme{
    
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    width: 100%;
    height: 100%;
    gap: 500px;
    padding-top: 30%;
    
}
.info .skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 40%;
}


.aboutme h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}






 .home-sci {
    position: relative;
    bottom: 10px;
    width: 170px;
    display: inline;
    flex-direction: row;

 }
.home-sci a {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background:transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover{
    color: #081b29;
}
.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%; 
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before {
    width: 100%;

}
.container {
    max-width: 1170px;
    margin: auto;

}
.container .back{

    text-decoration: none;
    color: white;
    position: absolute;
    left: 1400px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

}

.contactmain{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100vh;
    width: 100vw;
    
}
.here{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content:space-evenly;
    padding: 10%;
    height: 600px;
    margin-top: 15%;
    
}
.here h1{
    color: #ededed;
}
.here a{
    color: #ededed;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form input{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 280px;
    background-color: transparent;
    border: 1px solid #ededed;
}

form .button{
    margin-top: 20px;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size:19px;
    color: #ededed;
    text-decoration: none;
    font-weight:600;
    letter-spacing: 1px;
    padding: 10px;
    background: transparent;
    text-align: center;
}
form .button a{
    text-decoration: none;
    color: #ededed;
}
.footer{
    background-color: #0d5a91;
    padding: 70px 0;

}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px; 

}
.footer-col a{
    text-decoration: none;
    color: #fff;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;

}
.footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom:-10px;
    background-color:#fff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
    
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color:#fff;
    text-decoration: none;
    font-weight:300;
}